In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df=pd.read_csv("./rescue_cat.csv")

In [3]:
df.head()

         time                      title location  view
0  2018-12-14    왼쪽목에 유리조각이 박혔어요 도와주세요ㅠㅠ   경기 파주시     1
1  2018-12-13                    구조가능한가요   충남 당진시     5
2  2018-12-13     교통사고 당한 길고양이 구조 요청드립니다  경기도 남양주    10
3  2018-12-13                저희 아파트에 길냥이  대구광역시 동    10
4  2018-12-12  유기묘가 길생활 중 다리가 골절된 것 같습니다       전주    14

In [9]:
df.describe(include="all")

              time title location         view
count         7923  7923     3726  7923.000000
unique        2416  7447     1853          NaN
top     2017-06-19    지역       서울          NaN
freq            16    51       72          NaN
mean           NaN   NaN      NaN    53.519374
std            NaN   NaN      NaN    92.442561
min            NaN   NaN      NaN     0.000000
25%            NaN   NaN      NaN    14.000000
50%            NaN   NaN      NaN    24.000000
75%            NaN   NaN      NaN    45.000000
max            NaN   NaN      NaN  1461.000000

In [10]:
df.isna().sum()

time           0
title          0
location    4197
view           0
dtype: int64

In [40]:
df["location"].value_counts()

서울         72
부산         51
대구         50
인천         43
대전         22
서울 동작구     21
경기도 부천     19
서울 광진구     19
서울시 마포구    19
수원         18
서울시 은평구    17
광주광역시      17
서울 관악구     17
서울 마포구     17
안양         16
서울 은평구     16
경남 창원시     16
서울 강남구     16
서울시 강남구    15
서울 송파구     14
서울 성동구     14
경기도 수원시    14
서울 용산구     14
서울 강서구     14
안산         14
서울시        14
서울 성북구     14
서울 종로구     14
경기도 화성시    14
경기도 성남     13
           ..
강서구 화곡동     1
부산 감만동      1
서울특별시 광     1
기도 여주       1
서울영등포 문     1
서울 동교동      1
경기 구리시      1
남원          1
경기도 초월읍     1
서울 삼성       1
강원도 삼척      1
남가좌동        1
마포 아현동      1
화곡1동        1
부산 북구입니     1
부산 중구       1
서울 삼성동      1
대학로 어떤      1
구리시         1
의정부 가능동     1
고양시 백석동     1
대구 이곡동      1
부산 안락2동     1
일산서구구산동     1
경북김천        1
잠실우성4차      1
부평4동        1
충남 청양군      1
해당인천 송도     1
광주 동구       1
Name: location, Length: 1853, dtype: int64

In [45]:
df["location"].fillna("없음", inplace=True)

In [46]:
df.isna().sum()

time        0
title       0
location    0
view        0
dtype: int64

In [84]:
df["city"]=df["location"].copy()

In [85]:
#서울로 실험
df.loc[df['location'].str.contains('서울'), "city"] = "서울특별시"

In [86]:
df["city"].value_counts()

없음           4197
서울특별시         939
부산             51
대구             50
인천             43
대전             22
경기도 부천         19
수원             18
광주광역시          17
경남 창원시         16
안양             16
경기도 수원시        14
경기도 화성시        14
안산             14
경기도 광주         13
경기도 화성         13
경기도 성남         13
경기도            12
부천             12
경기도 남양주        12
경기도 안양시        12
천안             12
전주             12
울산             12
인천 남동구         11
대구 달서구         11
청주             10
경기도 안양         10
경기도 고양시        10
경기도 부천시         9
             ...
아메숏강서구          1
안산시 단원          1
경남 거제           1
포천 선단리          1
태안군 안면읍         1
경기도안양시          1
서초구 반포동         1
경남 김해 장         1
종로구 명륜4         1
고양시 삼송동         1
신내동             1
마포 공덕동          1
부산 덕천동          1
아현동 마포          1
인천 송도동          1
강서구             1
전남 신안군          1
부산 서구 서         1
경남 창원 마산        1
인천 남동           1
청계천 센트럴         1
시흥시 목감동         1
대전 서구 탄방동       1
성북구             1
노원구 공릉          1
대구 명곡           1
수원 매탄3동         1
충북음성군대          1
남산도서관           1
인천 영종도          1
Name: city, Length: 1553, dtype: int64

In [89]:
#광역시, 세종시
df.loc[df['location'].str.contains('부산'), "city"] = "부산광역시"
df.loc[df['location'].str.contains('대구'), "city"] = "대구광역시"
df.loc[df['location'].str.contains('인천'), "city"] = "인천광역시"
df.loc[df['location'].str.contains('광주'), "city"] = "광주광역시"
df.loc[df['location'].str.contains('대전'), "city"] = "대전광역시"
df.loc[df['location'].str.contains('세종'), "city"] = "세종특별자치시"

In [90]:
df["city"].value_counts()

없음           4197
서울특별시         938
인천광역시         214
부산광역시         204
대구광역시         154
광주광역시         104
대전광역시          58
경기도 부천         19
수원             18
경남 창원시         16
안양             16
경기도 수원시        14
경기도 화성시        14
안산             14
경기도 화성         13
경기도 성남         13
경기도 남양주        12
부천             12
전주             12
경기도 안양시        12
울산             12
경기도            12
천안             12
경기도 고양시        10
경기도 안양         10
청주             10
구미              9
경기도 부천시         9
긴급              9
경기도 안산          8
             ...
포천 선단리          1
김포시 북변          1
남원              1
서대문구 은평구        1
강동역4번출구         1
해당 중랑구          1
전주 송천동          1
천안아산            1
전라북도 순창군        1
홍대놀이터 인근        1
강릉시             1
가평군 대성          1
경기도안양시          1
태안군 안면읍         1
경남 거제           1
안산시 부곡동         1
아메숏강서구          1
분당구 서현동         1
경기도 과천시         1
부상 사하구          1
안양시 수리산         1
경기 광명 일직동       1
전라남도 광          1
충남 둔포           1
수원 우만동          1
신내동             1
용인시 보라동         1
마포 공덕동          1
시흥시 목감동         1
경기 양주           1
Name: city, Length: 1232, dtype: int64

In [93]:
#경기도
df.loc[df['location'].str.contains('부천'), "city"] = "부천시"
df.loc[df['location'].str.contains('수원'), "city"] = "수원시"
df.loc[df['location'].str.contains('화성'), "city"] = "화성시"
df.loc[df['location'].str.contains('성남'), "city"] = "성남시"
df.loc[df['location'].str.contains('안양'), "city"] = "안양시"
df.loc[df['location'].str.contains('안산'), "city"] = "안산시"
df.loc[df['location'].str.contains('용인'), "city"] = "용인시"
df.loc[df['location'].str.contains('광명'), "city"] = "광명시"
df.loc[df['location'].str.contains('평택'), "city"] = "평택시"

df.loc[df['location'].str.contains('과천'), "city"] = "과천시"
df.loc[df['location'].str.contains('오산'), "city"] = "오산시"
df.loc[df['location'].str.contains('시흥'), "city"] = "시흥시"
df.loc[df['location'].str.contains('군포'), "city"] = "군포시"
df.loc[df['location'].str.contains('의왕'), "city"] = "의왕시"
df.loc[df['location'].str.contains('하남'), "city"] = "하남시"
df.loc[df['location'].str.contains('이천'), "city"] = "이천시"
df.loc[df['location'].str.contains('안성'), "city"] = "안성시"
df.loc[df['location'].str.contains('김포'), "city"] = "김포시"

df.loc[df['location'].str.contains('여주'), "city"] = "여주시"
df.loc[df['location'].str.contains('고양'), "city"] = "고양시"
df.loc[df['location'].str.contains('의정부'), "city"] = "의정부시"
df.loc[df['location'].str.contains('동두천'), "city"] = "동두천시"
df.loc[df['location'].str.contains('구리'), "city"] = "구리시"
df.loc[df['location'].str.contains('남양주'), "city"] = "남양주시"
df.loc[df['location'].str.contains('파주'), "city"] = "파주시"
df.loc[df['location'].str.contains('양주'), "city"] = "양주시"
df.loc[df['location'].str.contains('포천'), "city"] = "포천시"

In [95]:
#강원도
df.loc[df['location'].str.contains('춘천'), "city"] = "춘천시"
df.loc[df['location'].str.contains('원주'), "city"] = "원주시"
df.loc[df['location'].str.contains('강릉'), "city"] = "강릉시"
df.loc[df['location'].str.contains('동해'), "city"] = "동해시"
df.loc[df['location'].str.contains('태백'), "city"] = "태백시"
df.loc[df['location'].str.contains('속초'), "city"] = "속초시"
df.loc[df['location'].str.contains('삼척'), "city"] = "삼척시"

In [106]:
#충청북도
df.loc[df['location'].str.contains('청주'), "city"] = "청주시"
df.loc[df['location'].str.contains('충주'), "city"] = "충주시"
df.loc[df['location'].str.contains('제천'), "city"] = "제천시"
df.loc[df['location'].str.contains('보은'), "city"] = "보은군"
df.loc[df['location'].str.contains('옥천'), "city"] = "옥천군"
df.loc[df['location'].str.contains('영동'), "city"] = "영동군"
df.loc[df['location'].str.contains('진천'), "city"] = "진천군"
df.loc[df['location'].str.contains('괴산'), "city"] = "괴산군"
df.loc[df['location'].str.contains('음성'), "city"] = "음성군"
df.loc[df['location'].str.contains('단양'), "city"] = "단양군"
df.loc[df['location'].str.contains('증평'), "city"] = "증평군"

In [115]:
#충청남도
df.loc[df['location'].str.contains('천안'), "city"] = "천안시"
df.loc[df['location'].str.contains('공주'), "city"] = "공주시"
df.loc[df['location'].str.contains('보령'), "city"] = "보령시"
df.loc[df['location'].str.contains('아산'), "city"] = "아산시"
df.loc[df['location'].str.contains('서산'), "city"] = "서산시"
df.loc[df['location'].str.contains('논산'), "city"] = "논산시"
df.loc[df['location'].str.contains('계룡'), "city"] = "계룡시"
df.loc[df['location'].str.contains('당진'), "city"] = "당진시"
df.loc[df['location'].str.contains('금산'), "city"] = "금산군"
df.loc[df['location'].str.contains('부여'), "city"] = "부여군"
df.loc[df['location'].str.contains('서천'), "city"] = "서천군"
df.loc[df['location'].str.contains('청양'), "city"] = "청양군"
df.loc[df['location'].str.contains('홍성'), "city"] = "홍성군"
df.loc[df['location'].str.contains('예산'), "city"] = "예산군"
df.loc[df['location'].str.contains('태안'), "city"] = "태안군"

In [116]:
#전라북도
df.loc[df['location'].str.contains('전주'), "city"] = "전주시"
df.loc[df['location'].str.contains('군산'), "city"] = "군산시"
df.loc[df['location'].str.contains('익산'), "city"] = "익산시"
df.loc[df['location'].str.contains('정읍'), "city"] = "정읍시"
df.loc[df['location'].str.contains('남원'), "city"] = "남원시"
df.loc[df['location'].str.contains('김제'), "city"] = "김제시"
df.loc[df['location'].str.contains('완주'), "city"] = "완주군"
df.loc[df['location'].str.contains('진안'), "city"] = "진안군"
df.loc[df['location'].str.contains('무주'), "city"] = "무주군"
df.loc[df['location'].str.contains('장수'), "city"] = "장수군"
df.loc[df['location'].str.contains('임실'), "city"] = "임실군"
df.loc[df['location'].str.contains('순창'), "city"] = "순창군"
df.loc[df['location'].str.contains('고창'), "city"] = "고창군"
df.loc[df['location'].str.contains('부안'), "city"] = "부안군"

In [109]:
#전라남도

In [110]:
#경상북도

In [111]:
#경상남도

In [114]:
#제주도
df.loc[df['location'].str.contains('제주'), "city"] = "제주도"

In [113]:
for i in range(len(df["city"].value_counts())):
    if df["city"].value_counts()[i]<13:
        print(df["city"].value_counts().index[i])

울산
전주
경기도
하남시
아산시
긴급
구미
안성시
의왕시
춘천시
용산구
제주시
음성군
과천시
세종특별자치시
서산시
도봉구
강릉시
동대문구
증평군
서대문구 연
경남 김해
일산
관악구 봉천동
은평구 불광동
경남 진주시
급
전북 전주시
경기도 일산
전북 전주
구조요청
은평구
성수동
구로구
경기도 수
경북 경산시
강남구 개포동
금천구 가산동
강남구 논현동
노량진
경기
양산
옥천군
경남 의령
당진시
경남 양산시
강남구 역삼동
모름
강북구 삼각
제천시
경기도 남양
영동군
동작구 사당동
노원구
사당동
경남 김해시
마포구 서교동
공주시
포항
관악구 신림동
경북 영주시
동해시
구로구 개봉
영등포구 도
마산
군산
울산 남구
경남양산
속초시
경남 고성군
경기도 가평군
전북
경북영주
마포구
경남 창녕군
강남구 삼성동
경주시
양산시 중부동
전주시 서신동
보령시
신길동
경상북도 상
강원도 인제
경남통영시
전라북도 익산시
전북 군산시
양천구 목동
경기도 가평
성북구 하월
전남 보성군
송파구 가락동
경기도 성
거제도
강서구 방화동
신림동
경안동
영등포구
청양군
은평구 갈현동
잠실
통영
송파구 문정동
강서구 화곡
강남구 대치동
진천군
청담동
장위동
도봉구 창동
경북 경주시
경기도 곤지암
강남구 청담동
강동구 천호동
강서구 염창
강원도 홍천
충청남도 천
종로구
동작구 상도동
경기도 안
포항시 북구
연남동
경남 통영시
전북 군산
동작구 대방동
경북 칠곡군
경기도 의정
전북 장수군
경상북도 포항시
경북 포항
낙성대
종로구 익선동
익산
전라북도 전주
경남 양산
마포
광진구 중곡동
논산시
중랑구 신내동
강남
논현동
면목5동
강서구 등촌동
서교동
해당
경북 안동
심각
은평구 응암동
경남
김해
사진
괴산군
마포구 성산동
울산 남구 달동
광진구
경상남도 김
경주
동작구 노
구조문의
경기도 평
일산동구
긴급구조
경북 영덕군
중랑구 면목동
경북 구미시
경북 영주
신촌
송파구 방이동
서대문구 신촌
경남 마산
경상남도 창
구조완료
서초구
동탄
전라남도
강남구역삼
태안군 안면읍
전주 송천동
홍대입구역
전라남도 광
사진추가
전북장수
서대문구 연희
전라북도 순창군
부상 사하구
종로구 명륜4
중랑구
홍대놀이터 인근
경남 김해시 외동
아메숏강서구
군산시 나운동
영광
영천
가천대학교 글
강동역4번출구
경북경주
전남광양
인청중구
삼선동
산천동 한강타
강화군 송해
경남진주
밑에 긴급구조
경주시 황성동
용산구 보광동
서강대근처
광진시청
가양1동
성동구 상왕십리
양산 하북면
강북구수유
충남태안군
신설동
종로구 행촌동
경북 의성
송파구 잠실동
담양군청 인근
경남양산시물
울산광역시 남
경북 구미
서대문구 홍제동
통영시 도천동
강북 미아
화곡1동
마포 아현동
이문동
남가좌동
전북익산시 저
문래동 영문초
경기도 일산 서구
서대문구 은평구
성동구 행당동
관악구
전남 곡성군
홍대 상상마당
마포구 합정
사당역 대항병
종로구 연
잠실 우성4차
울산 동구
충남
대치동
건대입구역
동대문구 휘
군자동
중랑구망우
경남 거제시
강원도홍천
충청북도
경북 포항시
영등포 신길동
마산 석전동
용산구 한남동
전남 순천 교
충추
연희동 69 74
강서구 우장산동
강서구 가양1동
서대문구 이화
경북김천
분당구 정자
강동구 암사동
경주시 외동읍
김해시 어방
거제시 옥포동
강남구 도곡1동
충남 둔포
봉천동
알수없음
경상북도 문
전라북도 익
중화동
일산장항동
포항시 흥해읍
마포구동교동
전북 부안
동작구 여의대
ㅇ 경안동
망원동
강남구신사동
전주 덕진동
경기도 진
동대문 위험한
동대문구 이문동
대학로 이화
송파구
경남진주시
강원도정선
당고개
양평군
구조완료 협력
평창군
황학동 152동
화도읍 창현리
노원구 상계3
강남구청담동
서초구 염
제기동
양평 양수리
신도림동
전북 익산시
신원동
경상남도 양산
완도
영주
종로구필운동
마포구 홍대
전라북도 군산
수유묘 구함
제기동 정릉천
동작구 상도3동
광진구 자양동
상계동
영등포구신길
서대문구 남가
강남논현동
관악구 은천동
경기도안
동탄2신도시
상도동 대상
전남 영암군
봉천로13나길
경상북도 영주시
영등포 신길
곽압그
미아사거리 창
문래동
여의도
압구정 현대미
도봉구 녹천역
관악구 인헌동
종로구 삼청동
횡성
번동
목포시 석현동
아현동
중구 봉래동2가
지리산
강동구 둔촌
경남 산청
노량진2동
강남 신사동
역삼동 푸르지
경북 문경시
금천구 가산
전남 여수
망원 유수지
성동구
마산지역
분당 정자동
전남 신안군
아현동 마포
경산시 임당동
남원
청담자이아파
성북구 삼선동
전주시 완주군
수유역 인근 1
경남 함안
월계1동
용산구 청파동2가
화곡동 목동
정릉
동작구 상도1
경기도 연천군
거제 율포분교
경남 합천군
울산 북구
노원구 공릉
마포 공덕동
경남김해시 내
울산중구유곡동
전라북도 전주시
남산도서관
소하동
계단 층고에
경남 사천시
중랑구면목
청계천 센트럴
용산구 청파동
성북ㄱ
강남 논현동
송파구 마천동
부여군
도봉구 방학사
강동구 상
경남 밀양
금천구 독산2동
해당 대
전주 같아요
동대문구 장
경북 상주
경남사천시사
강원도 주천
서대문구 충정
송파구 삼전
전북 무죽
지역불문
강북구 미아동
통영 산양읍
포항북구
영등포구 대림3동
해당 경기도
구로구 천왕동
경상북도포항
동부간선도로
강동구 상일동
잠실 고수부지
경북경산시임당동
성북동1가
알아보고싶습
성북구 정릉
동작구
승봉도
성북구 동선동
여수시 소
전라북도 익산
강원도 고성
마포구 연남동
대적 동구
전남 무안군 남악
전주시 완산
영등포구 신길동
서초구 방배동
경북 영양군
경북 구미 옥계
전주시 팔복동
대학로 어떤
마포구 합정동
전남
대치4동 버거
반포동 725 1번지
마포 공덕시장
동두천시
해운대
숫놈대장좀잡
양재동
부평구
경기도 수지
도봉구 방학동
전라북도 고창군
동교동 홍대
경상북도 상주시
일산스파
수유동
경상남도 진주
울산 중구 서
일산 동구 중산동
금천 독산동
구미 공단동
관악구 낙성대동
동구만석동
전라남도 여수시
경북고령군
양산시 평산동
성북
강서구
성북구 안암동
마산합포구
평촌
분당 죽전 오
분당구 서현동
전남 해남군
강남구 논
해당 경
울산 울주군
화곡동
경기분당
경남 거제
내부순환도로
신갈동
종로구 대학로
사진첨부
성동구 응봉동
이수역2번출
일산서구구산동
은평구 역촌동
성북구 동선동5가
흑석동 중앙대
일산동구 백석
마포구 서교
해당 경기 김
전남 함평군
충무로역
모름 ㅜㅜ
성동구 성수동
사당역 관악
역삼동
울산 광역시
경기 양평 서종
강남 역삼동
전남 순천
부평구청역
사진이 안뜨네
광교 이의동
진주시
관악구 행운동
숭인동
강북구 수유동
구로디지털단지
구로3동
마포용강동
강남구 신사
광진구 자양2동
경기도 분당
전주 평화동
홍제동 무악제역
송파구 거여2동
전주 서신동
강남구 일원2동
담양
전북완주
경상남도 김해
도움요청
종로구 무악동
초지동 원곡한
명일동
강북구 번2동
상계10동
사북읍
구로구 고척2
중곡동 용마산
경기 양평
경기도 광
여수시 충무동
경기도 양평군
하동군 옥종면
마폭 서교동 3
송파구 석촌동
동대문구 전농
송파구 마천파
송파구 장지동
강북구 수유
양재동 언남중
통의동
천호동
강동구 천호
용산구 원효로1가
보호중입니다
강화
강원도 홍촌
은평구 독바위
분당구 서
용산구 이태원동
영등포구청역
조치원읍 신안리
일산서구 덕이동
종로구 종각
경북 경산
도봉구 도봉
방배3동
마산 창포동
전남 목포
구
덕양구원당동
구로구 개봉동
동탄지성로
양양군 물치리
서초구 반포동
은평구 대조동
다산신도시
용구대로 2394
일산 장항동
용산구서계동
종로구 청운동
서초구 이수역
구포도서관 인근
울산 남구 신
전남 함평 현
전주시 덕진구
송파1동
남동구 만수5동
서초구 남부순
강북구
성북구한성대3
사울 신천중
전주대학교
경북 울진군
전북군산
부평구 십
강북구 우이동
경기도 산본
경남 김해 장
강남구
주차장에 살던
울산광역시 동
종로구 평창동
전주시 완산구
경기 일산
중랑구 상봉동
동작구 신대
경남 거제도
왜관읍
강남구 일
서대문구
원광대학교 공
긴급문의
강서구 화곡동
거제시 하청면
경남 김해 생
청량리
선유도역
관악구신림동
강서구 방화
강동구 명일동
양천구 신정
김해시 율하동
경상남도 김해시
삼척시
무악재역인데
석촌동 석촌호
강남구 역삼 1
안동시
강남구 도곡동
강동구 천호2
충북
강원도 원
잠실본동
신흥1동 치
계룡시
충청북도 청
전남 영광
긴급 염리동
운정
도와주세요
전북 익산
경북 안동시 와룡
화곡4동
마리오아울렛
성동구 삼부
홍성군
노원구 월계지
일산 백석동
부평4동
잠실우성4차
경상북도 경산
동대문구 답
경주 용강동
고보협 치료구
경기도 동두
전북전주
성북구 북악산
용산구 해방촌
강일동
민락동2지구
서대문구 홍
안락사위기
용산구 해방
순천 새끼고
경기도 초월읍
충정로역
기흥구 신갈동
경기도 부
동대문구 제기동
강동구
강남구 논현로
문의
경북 성주군
종로구창신동
경상북도 포
경남 진동
신도림 종도
경상북도 경주
성동구 왕십리역
경상북도 성주
명동역
수지구 신봉동
군산시나운동
홍천군 서면
전붇 익산시
서초구 잠원동
종로구 성균관
동대문구 장안
선유도역 인근
완주군 봉동읍
성북구 넬동물
강서구염창동
경북 상주시
강동구 길동
전북 정읍
서천군
충남 태안
종로구 명륜1가
경기도 연천
목포남악 근화
아기 길냥이
서대문구 홍은동
해당 중랑구
일산동구 식사동
경산
일산정발중
도봉구창5동
경남 남해
금천구 독산동
철원
경기도양평
신정3동 재개발
여수
자양동
남성역 인근
안동시 하회마
경북 포항 월
일산동구 백석동
여수 학동
성북구
왕십리
동대문구 제기
면목2동
불광동2동
경상남도 산청군
노원구 월계로
마포구 망
서대문구 홍은
성북구 성신여
순천
진주시 상봉동
용산구 삼각지
신길1동
보문동1가
전남장흥
도봉구 쌍문동
장충단로8길59 10
경기도 양평
서강대역 1번
경남사천
광진구 구의동
경남거제시
경기도 이
관악구 미성동
양재동 오대산
경상남도
경북 김천시
중계동
합천
일산동구풍동
영양군
가평군 대성
성동구 성수
강남구청역인근
관악근 ㅅㄱㄴ
신내동
울진군 후포면
동작구 사당2동
마포구 대흥동
내발산동
송파구 신천
합정
행당동
달성군 현풍면
용산동빙고
구조완료 사진
마포구 상수동